/* header section start */
.navbar{
    --bs-navbar-toggler-focus-width: 0px;
}
.header{
    background-color: #04492e;   
}
header nav{
    height: 65px;
    overflow: visible;
    z-index: 20;
}
header .nav-link{
    color: green;
    text-align: center;
    position: relative;
}
.hero-sec{
    margin-top: 20px;
}
/* header section end */
/* features section start */
.f-sec{
    margin-top: 80px;
}
.f-text{
    font-size: 96px;
    text-align: center;
}
.card{
    border: 3px solid #04492e;
}
.spn{
    height: 11%;
    width: 250px;
    color: #04492e !important;
    border: 1px solid rgb(205, 251, 10);
    background-color: rgb(205, 251, 10);
}
.btn-2{
    margin-top: 8px;
    padding: 4px 15px;
}
.Img-2{
    width: 84%;
    margin: 0 auto;
    border-radius: 10%;
}
/* features section end */
/* promote section start */
.pro-sec{
    border: 1px solid #04492e;
}
.div-2{
    margin-top: 100px;
}
.div-1{
    border: 1px solid rgb(205, 251, 10);
    height: 25%;
    width: 187px;
    background-color: rgb(205, 251, 10);  
}
/* promote section end */
/* middle section start */
.mid-div{
    margin-top: 100px;
    margin-bottom: 20px;
}
/* middle section end */
/* work section start */
.con{
    width: 70%;
    margin: 0 auto;
}
.icon{
    font-size: 90px;
    top: 38%;
    left: 45%;
    transition: .3s;
}
.icon:hover{
    color: rgb(205, 251, 10);  
}
/* work section end */
/* text section start */
.txt-4{
    margin-top: 8%;
}
.btn-4{
    background-color: rgb(205, 251, 10);
    border: 1px solid rgb(205, 251, 10);
}
.btn-5{
    transition: .3s;
}
.txt-5{
    margin-top: 8%;
}
/* text section end */
/* team section start */
.team{
    height: 30%;
    margin-bottom: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.team-img-1{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.name{
    color: #04492e;;
}
.icon-1{
    background-color: white;
    border: 2px solid #04492e;
    color: #04492e;
    transition: .5s;
    margin-bottom: 50px;
}
.icon-1:hover{
    color: white;
    background-color: #04492e;
}
.hvr{
    transition: .5s;
}
.hvr:hover{
    transform: scale(1.1);   
}
/* team section end */
/* process section start */
.div-4{
    border: 1px solid 04492e;
    height: 13%;
    width: 187px;
    background-color: #04492e; 
}
/* process section end */
/* price section start */
.ah3:hover{
    background-color: black;
}
.font{
    font-size: 80px;
    margin-top: 20px;
}
/* price section end */
/* location section start */
.frame{
    margin-top: 20px;
    height: 580px;
}
/* location start end */
/* contact section start */
.con{
    width: 70%;
    margin: 0 auto;
}
/* contact section end */
/* last section start */
.last-link{
    margin-top: 20%;
    margin-bottom: 50px;
}
.last-link .last:hover{
    color: rgb(205, 251, 10) !important;
}
/* last section end */
/* common code start */
@media screen and (max-width: 767px) {
    .hero-sec{
        text-align: center;
    }
}
/* common code end */
/* work section start */  
@media screen and (max-width: 576px) {
    .wrk-txt{
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .icon{
        font-size: 40px;
        top: 25%;
        left: 40%;
}
}
@media screen and (max-width: 767px) {
    .icon{
        font-size: 60px;
        top: 32%;
}
}
/* work section end */
/* price section start */
@media screen and (max-width: 767px) {
    .div-4{
        height: 20%;
    }
}
@media screen and (max-width: 992px) {
    .div-4{
        height: 20%;
    }
}
/* price section end */